pytest
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
numpy
pandas==2.1.1
Django
djangorestframework
django-cors-headers
PyMySQL==1.1.3

openai
langchain
langchain-core
langchain-openai
langchain-pinecone
langchain-text-splitters
pinecone
tavily-python
tiktoken

fastapi
uvicorn